body {
    background-color: rgb(243, 243, 243);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 32px;
}

img {
    height: 100px;
    width: 87px;
}
.title {
    box-sizing: border-box;
    padding: 32px;
    border: 4px solid rgb(235, 90, 46);
    text-align: center;
    width: 400px;
    box-shadow: 5px 5px 8px #888888;
    font-size: 24px;
    border-radius:10px;
    margin-bottom: 32px;;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.selections {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

#rock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}

#rockDiv {
    padding: 0px;
    height: 125px;
    width: 125px;
}

#paperDiv {
    padding: 0px;
    height: 125px;
    width: 125px;
}

#scissorsDiv {
    padding: 0px;
    height: 125px;
    width: 125px;
}

#paper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}

#scissors {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}
.selection {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;;
}

.battle {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
    border-bottom:3px solid rgb(235, 90, 46);
    margin-top: 16px;
    gap: 16px;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    height: 150px;
}

.choice {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;
}

.playerChoiceOption{
    padding: 16px;
    margin: 16px;
}

.selection {
    display:flex;
    border: 3px solid rgba(19, 30, 82);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width:fit-content;
    border-radius: 10%;
    padding: 16px;
    flex-shrink: 1;
    width: 100px;
    height: 100px;
    text-align: center;
    gap: 16px;
    box-shadow: 10px 10px 8px #888888;
}

.results {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    align-items: center;
    flex-wrap: wrap;   
    margin-top: 16px;
}

.resultMessage {
    font-weight:bolder;
    font-size: 32px;
    margin-top: 8px;
    box-sizing: border-box;
    height: 35px;
}

.scorebox-grid {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
}
.scoreBox{
    display:flex;
    border: 3px solid rgba(19, 30, 82);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width:fit-content;
    border-radius: 10%;
    padding: 16px;
    flex-shrink: 1;
    width: 100px;
    height: 100px;
    text-align: center;
    gap: 16px;
    box-shadow: 10px 10px 8px #888888;
}

.scoreHeading {
    font-size: 14px;
    font-weight: bold;
}

.scoreDisplay {
    font-size: 32px;
}

.reset {
    display: none;
    background-color:  rgb(235, 90, 46);
    color:rgb(243, 243, 243);
    font-weight: 900;
    font-size: xx-large;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width:fit-content;
    border-radius: 10%;
    padding: 16px;
    flex-shrink: 1;
    width: 200px;
    height: 50px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-top: 16px;
    box-shadow: 10px 10px 8px #888888;
    cursor: pointer;
}